<div class="container" ng-controller="EditProfileCtrl as ctrl">

    <div class="col-sm-6 col-sm-offset-2">

        <br>
        <flash-message
                duration="5000"
                show-close="true"
                on-dismiss="myCallback(flash);"
        ></flash-message>

        <!-- LOGIN FORM -->
        <form name="editForm" ng-submit="ctrl.update()" novalidate autocomplete="off">
            <!--<div class="form-group input-field col s6" ng-class="{ 'has-error': editForm.emailAddress.$touched && editForm.emailAddress.$invalid }">
                <input type="email" class="form-control" ng-model="ctrl.emailAddress"
                       name="emailAddress" placeholder="Email address" required>
                <div class="help-block"
                     ng-messages="editForm.emailAddress.$error" ng-if="editForm.emailAddress.$touched">
                    <span class="help-inline" ng-message="required">Email Address is mandatory</span>
                    <span class="help-inline" ng-message="email">Email Address is invalid</span>
                </div>
            </div>-->
            <div class="form-group input-field col s6" ng-class="{ 'has-error': editForm.firstName.$touched && editForm.firstName.$invalid }">
                <label>First Name</label><br>
                <input type="text" class="form-control" ng-model="ctrl.firstName"
                       name="firstName" placeholder="First Name" required>
                <div class="help-block"
                     ng-messages="editForm.firstName.$error" ng-if="editForm.firstName.$touched">
                    <span class="help-inline" ng-message="required">First Name is mandatory</span>
                </div>
            </div>
            <div class="form-group input-field col s6" ng-class="{ 'has-error': editForm.lastName.$touched && editForm.lastName.$invalid }">
                <label>Last Name</label><br>
                <input type="text" class="form-control" ng-model="ctrl.lastName"
                       name="lastName" placeholder="Last Name" required>
                <div class="help-block"
                     ng-messages="editForm.lastName.$error" ng-if="editForm.lastName.$touched">
                    <span class="help-inline" ng-message="required">Last Name is mandatory</span>
                </div>
            </div>
            <!--<div class="form-group input-field col s6" ng-class="{ 'has-error': editForm.password.$touched && editForm.password.$invalid }">
                <input type="password" class="form-control" ng-model="ctrl.password"
                       name="password" placeholder="Password" 
                       minlength="8" 
                       ng-pattern ="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/"
                       required>
                <div class="help-block" 
                    ng-messages="editForm.password.$error" ng-if="editForm.password.$touched">
                    <span class="help-inline" ng-message="required">Password is mandatory.</span>
                    <span class="help-inline" ng-message="minlength">Password must be at least 8 characters long.</span>
                    <span class="help-inline" ng-message="pattern">Password must include a number, a special character (@, #, $), and both upper and lower cases.</span>
                </div>
            </div>-->
            <!--<div class="form-group input-field col s6" ng-class="{ 'has-error': editForm.confirmpassword.$touched && editForm.confirmpassword.$invalid }">
                <input type="password" class="form-control" ng-model="ctrl.confirmpassword"
                       name="confirmpassword" placeholder="Confirm Password" 
                       compare-to="ctrl.password" 
                       minlength="8" 
                       ng-pattern ="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/"
                       required>
                <div class="help-block" 
                    ng-messages="editForm.confirmpassword.$error" ng-if="editForm.confirmpassword.$touched">
                    <span class="help-inline" ng-message="required">Confirm Password is mandatory.</span>
                    <span class="help-inline" ng-message="compareTo">Confirm Passwords do not match</span>
                    <span class="help-inline" ng-message="minlength">Confirm Password must be at least 8 characters long.</span>
                    <span class="help-inline" ng-message="pattern">Confirm Password must include a number, a special character (@, #, $), and both upper and lower cases.</span>
                </div>
            </div>-->
            <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-default btn-lg">Update</button>
        </form>
        <hr>

    </div>
</div>