<div class="box" data-ng-controller="FriendsCtrl as ctrl">
    <div ng-show="ctrl.profiles">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in ctrl.profiles">
                <td>{{ p.firstName }}</td>
                <td>{{ p.lastName }}</td>
                <td>{{ p.email }}</td>
                <td></td>
                <!--<td><button ui-sref="Edit({ productId: product.id })">Edit</button></td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-hide="ctrl.profiles.length>0">
        <h1>No profiles found.</h1>
    </div>
    
    </div>
               
            





