<nav class="nav has-shadow" ng-controller="HomePageAppCtrl as ctrl">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <!--<img src="/assets/images/logotransback.png" alt=""/>-->
      </a>
      <a ui-sref="aboutus" class="nav-item is-tab is-hidden-mobile">Home</a>
      <a ui-sref="profile_list" class="nav-item is-tab is-hidden-mobile">Users</a>
      <!--<a ui-sref="guests" class="nav-item is-tab is-hidden-mobile">Guests</a>
      <a ui-sref="aboutus" class="nav-item is-tab is-hidden-mobile">About Us</a>-->
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
      <a class="nav-item is-tab" ng-hide="ctrl.isUserLogon" ui-sref="SignIn">Sign In</a>
      <a class="nav-item is-tab" ng-hide="ctrl.isUserLogon" ui-sref="SignUp">Sign In</a>
      <a class="nav-item is-tab" ng-show="ctrl.isUserLogon" ui-sref="profile">My Account</a>
    </div>
  </div>
</nav>